<!DOCTYPE html>
<html>
  <head>
    <title>review</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
   <body>
   	<header class="navbar navbar-fixed-top navbar-inverse">
   	<div class="container">
   		<nav class="nav navbar-nav navbar-left">
          <h3>Bookers</h3>
        </nav>
   		<nav class="nav navbar-nav navbar-right">
   			<ul class="nav navbar-nav navbar-right">
   				<li><%= link_to 'home',root_path%></li>
   				<li><%= link_to 'about', home_about_path %></li>
   				<li><%= link_to 'sign in',new_user_registration_path %></li>
   				<li><%= link_to 'log in', new_user_session_path %></li>
   			</ul>
   		</nav>
   	</div>
   	</header>
   	<!-- /header -->
    <%= yield %>
  </body>
</html>
